body {
	background:#5c5c3d;
	font: 1em/150% Arial, Helvetica, sans-serif;
	font-size:13px;
	color:white;
	
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
	font: bold 36px/100% Arial, Helvetica, sans-serif;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 5px auto;
}
#header {
	padding-left:10px;
	height: 180px;
	background-color:#333; /* a more specific way to set a background color */
	background-image:url(cheetah.jpg); /* sets a background image in the header and the position it should sit */
	background-repeat:no-repeat; /* sets a background image to repeat, repeat-x, repeat-y or not at all as written in this rule */
	background-position:left bottom;/* sets a background image position */
	color:#fff;	/* sets the the color of all header text to white */
/*	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;	these 6 lines of border-radius code make rounded corners for the bottom work in firefox, safari, chrome, opera and IE9 
	margin:0 auto; by declaring a width on any block element (like a div), giving it a css property of margin:0 auto will center that block element on page
	min-height:130px; setting a minimum height of an element means that it can grow to be bigger, if there is a lot of content in it. However, if it doesn't have enough content, it
	padding:45px 15px 15px; 
*/
 
}
ul.navigation li{
	display:inline-block; /* an inline block element can have width and height applied to it / and if not, they only take up as much space as the content within allows */
	margin:0 3px 5px;	/* this code adds a 3px margin to the left and right of the list elements, and 5px to the bottom of the list elements */
					}
					
ul.navigation li a{
	background:#5C5C3D;	/* this is a dark grey background for the link */
	color:#fff;	/* this makes the link text white */
	-moz-border-radius:2px; 
	webkit-border-radius:2px; 
	border-radius:2px;	/* these 3 lines of border-radius code make rounded corners work in firefox, safari, chrome, opera and IE9 */
	border:1px solid #595959; /* this adds a light grey solid border of 1px width around the link */
	padding:3px 10px;	/* as the name implies, this adds extra padding around the link, so that the borders don't bump up against the link text */
	text-decoration:none; /* this removes the normal underline that links usually have */
}
					
ul.navigation li a:hover{
	background-color:#000; 
}
#content {
	width: 620px;
	float: right;
}

#sidebar {
	width: 300px;
	float: left;
}
#fave{
	clear:both;
}
#aboutAcelia{
	clear:both;
}
#footer {
	clear: both;
	color:white;
	padding-left:10px;
	background-color:#003300;
}
.float-left{
	float:left;	/* use this on an element (like an image) to make it float to the left of it's containing HTML element */
	margin:0  5px 5px 0;
}
.float-right{
	float:right;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
}
.float-right img{
	margin:0 0 10px 10px;	/* use this on an element (like an image) to make it float to the right of it's containing HTML element */
}
.clear{
	clear:both; /* this clears floats.  This would be used to cancel out a float's behavior on content below it.  */
}	

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	#content {
		width: auto;
		float: none;
	}
	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#sidebar {
		display: none;
	}

}

/* border & guideline (you can ignore these) */
#content {
	
}
#sidebar {
	
}
#header, #content, #sidebar {
	margin-bottom: 5px;
}
#pagewrap, #header, #footer {
	border: solid 1px #ccc;
}