body {
	background-color: #75a3a3;
	font-family: "Arial Narrow";
	color:white;
}

h1 {
	text-align: center;
	color:white;
}

h2 {
	text-align: center;
	color:white;
}

.aboutMe {
	overflow: auto;
}

.myPhoto {
	float: left;
	margin-right: 7px;
}

button{
	background-color: white;
	color: #006666;
	border-radius: 10px;
}